<div class="container d-flex justify-content-center align-items-center vh-100">
    <mat-card class="shadow-lg p-4 w-100" style="max-width: 400px;">
        <mat-card-title class="text-center text-primary mb-3">Iniciar sesión</mat-card-title>
        <mat-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
            <mat-form-field class="w-100 mb-3">
            <mat-label>Correo Electrónico</mat-label>
            <input matInput formControlName="u_email" type="email" required>
            <mat-error *ngIf="loginForm.get('u_email')?.invalid && loginForm.get('u_email')?.touched">
                Correo inválido
            </mat-error>
            </mat-form-field>

            <mat-form-field class="w-100 mb-3">
            <mat-label>Contraseña</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
            <button mat-icon-button matSuffix (click)="hide = !hide" type="button">
                <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <mat-error *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
                La contraseña es requerida
            </mat-error>
            </mat-form-field>

            <mat-card-actions class="d-flex flex-column gap-2">
            <button mat-raised-button color="primary" class="w-100" type="submit" [disabled]="loginForm.invalid">
                Iniciar sesión
            </button>
            
            <!-- Botón link para recuperar contraseña -->
            <button
                mat-button
                color="accent"
                class="w-100"
                type="button"
                >
                ¿Olvidaste tu contraseña?
            </button>
            </mat-card-actions>
        </form>
        </mat-card-content>
    </mat-card>
</div>
