.navbar{
    padding: 0%;
}
.container-fluid{
    padding: 0%;
    background-color: rgba(187, 166, 166, 0.63);
    
}

.nav-link {
    margin-left: 5em;
    color: whitesmoke;
    font-weight: 500;

}
.nav-profile{
    background-color: violet;
}

