  <div>
    </div>
    <div *ngFor="let review of reviews" class=" mt-4">
        <div class="card-body">
            <div class="col-12 row">
                <div class="col-1">
                    <img src={{review.user.u_avatar}} alt="FtPerfil" class="rounded-circle" width="50" height="50">
                </div>
                <div class="col-11">
                    <p>{{review.user.u_name}}</p>
                </div>      
            </div>
            <h5 class="card-title">{{review.title}}</h5>
            <h6 class="card-subtitle mb-2 ">{{review.body}}</h6>

        </div>
    <div class=""><hr><br></div>
    </div>