<div class="content-footer">
    <div class="container">
        <div class="col-12 row">
            <div class="col-4 align-items-center justify-content-center">
                <h5>Acerca de Nosotros</h5>
            </div>
            <div class="col-4 align-items-center justify-content-center">
                <h5>Contacto</h5>
            </div>
            <div class="col-4 align-items-center justify-content-center">
                <h5>Redes Sociales</h5>
            </div>
        </div>
    </div>
</div>